<div class='products'>

  <h1><%= I18n.t('product.products_list') %></h1>

  <% @products.each do |product| %>
    <div class="product">
      <% unless product.images.empty? %>
        <div class=image>
          <%= link_to product_path(product) do %>
            <%= image_tag product.images.first.file.url(:thumb) %>
          <% end %>
        </div>
      <% end %>
      <div class="info">
        <div class="price">
          <%= number_to_currency(product.price, unit: '', precision: 0).to_s + ' грн.' %>
        </div>
        <div class="actions">
          <%= link_to I18n.t('actions.edit'), edit_product_path(product) %> |
          <%= link_to I18n.t('actions.delete'), product, method: :delete, data: { confirm: I18n.t('actions.confirm') } %>
        </div>
      </div>
    </div>
  <% end %>

  <div class="clear"></div>

  <br />

  <%= link_to I18n.t('actions.add'), new_product_path, class: 'btn' %>

</div>
