<%= content_for :scripts do %>
  <%= javascript_include_tag 'product/product' %>
<% end %>

<div class="product">
  <h1><%= @product.title %></h1>
  <p id="notice"><%= notice %></p>

  <% unless @product.images.empty? %>
    <div class="image">
      <%= image_tag @product.images.first.file.url(:thumb), {
              class: 'foto',
              data: {
                      large: @product.images.first.file.url,
                      help: I18n.t('product.zoom_hint'),
              }
      } %>

      <div class="mini">
        <% @product.images.each do |image| %>
          <%= image_tag image.file.url(:mini), data: { thumb: image.file.url(:thumb), large: image.file.url } %>
        <% end %>
      </div>
    </div>
  <% end %>

  <div>
    <h4><%= I18n.t('product.description') + ":" %></h4>
    <div class="desc"><%= @product.description %></div>
  </div>

  <div>
    <h4><%= I18n.t('product.price') + ":" %></h4>
    <div class="price"><%= @product.price %></div>
  </div>

  <div>
    <h4><%= I18n.t('product.size') + ":" %></h4>
    <div class="size"><%= @product.size %></div>
  </div>

  <div>
    <h4><%= I18n.t('product.care') + ":" %></h4>
    <div class="care"><%= @product.care %></div>
  </div>

  <div>
    <h4><%= I18n.t('product.make') + ":" %></h4>
    <div class="make"><%= @product.make %></div>
  </div>

  <div>
    <h4><%= I18n.t('product.material') + ":" %></h4>
    <div class="material"><%= @product.material %></div>
  </div>

  <%= link_to I18n.t('actions.edit'), edit_product_path(@product) %> |
  <%= link_to I18n.t('actions.back'), products_path %>
</div>
